<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="dwl.com.jz">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/qingjie"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/qingjie"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity android:name=".activity.SearchActivity"></activity>
        <activity android:name=".activity.OrderListActivity" />
        <activity android:name=".activity.OrderActivity" />
        <activity android:name=".activity.ServiceListActivity" />
        <activity android:name=".activity.MainActivity" />
        <activity
            android:name=".activity.SplashToActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>